<div class="jumbotron">
	<div class="container">
		<h1>Contact us</h1>
	</div>
</div>

<div class="container">
	<h2>Get in touch.</h2>
	<div class="row space">
		<div class="col-xs-12">
			<%= flash[:notice] %>

			<%= bootstrap_form_tag url: "/static_pages/thank_you", layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8" do |f| %>
				<%= f.text_field :name, label_class: "required", label: "Name", class: "input-lg", placeholder: "Enter name", required: true %>
		  	<%= f.email_field :email, label_class: "required", label: "Email", class: "input-lg", placeholder: "Enter email", required: true %>
		  	<%= f.text_area :message, label_class: "required", label: "Message", class: "input-lg", placeholder: "Enter message", required: true %>
				<%=f.form_group do %>
					<%= f.submit "Send", class: "btn btn-primary btn-lg" %>
				<% end %>
			<% end %>
		</div>
	</div>

</div>
		<!--<p>Christopher Eaton</p>
		<a href="mailto:eaton.cw@gmail.com?Subject=About%20trees" target="top">eaton.cw@gmail.com</a>-->
	
