<div class="container space">

	<%= image_tag(@post.img_url, class: "img-responsive") %>
	
	<div class="row">
		<div class="col-xs-12">
			<h1><%= @post.title %></h1>
			<p>Written <%= @post.created_at.strftime('%B %d') %> by <%= @post.user.email %></p>
		</div>
	</div>
	
	<div class="row space">
		<div class="col-xs-12">
			<p class="lead"><%= simple_format @post.body %></p>
		</div>
	</div>
			

	<div class="row space">
		<div class="col-xs-12">
			<a data-toggle="collapse" href="#collapseComments" aria-expanded="false" aria-controls="collapseComments">Show comments</a>
		</div>
	</div>

	<div class="collapse" id="collapseComments">
		<div class="row space" id="collapseComments">
			<div class="col-xs-12">
				<%= render 'new_comment' %>
			</div>
		</div>
		
		<div class="row space">
			<div class="col-xs-12">
				<%= render 'comments' %>
			</div>
		</div>
		
		
		<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
		
	</div>
</div>

<div class="container">
	<%= link_to 'Back', posts_path %>
</div>