<%= bootstrap_form_for(@product, layout: :horizontal, label_col: "col-md-2", control_col: "col-md-6") do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.text_field :name, label: "Product name" %>
    <%= f.text_area :description, label: "Product description" %>
    <%= f.url_field :image_url, label: "Image url" %>
    <%= f.color_field :colour, label: "Colour" %>
    <%= f.text_field :size, label: "Size" %>
    <%= f.text_field :price, prepend: "$", label: "Amount in dollars" %>
    <%=f.form_group do %>
      <%= f.primary %>
    <% end %>
  
  
<% end %>
