<div class="container">
<p id="notice"><%= notice %></p>

<h1>Fruitree Products</h1>


</div>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-3">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><%= product.size %></p>
        <p>$<%= product.price %></p>
        <%= image_tag(product.image_url, class: "img-responsive products") %>
          <div class="row space">
            <div class="col-xs-12">
        <table class="table">
        <tbody>
          <tr>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
        </table>
        </div>
        </div>

      </div>
    <% end %>
  </div>
</div>


<div class="container space">
  <%= link_to 'Add New Product', new_product_path %>
</div>



</div>
