

<div class="container space">
  <div class="row">
    <div class="col-sm-6">
      <h1>Fruitree Products</h1>
    </div>
    <div class="col-sm-6">
      <%= form_tag("/products", method: "get", class: "navbar-form navbar-right", role: "search") do %>
                
        <%= text_field_tag('q', nil, placeholder: "Search", class: "form-control") %>
        <%= submit_tag("Go", class: "btn btn-default", id: "search") %>
      <% end %>
    </div>
  </div>
</div>

<% if signed_in? && current_user.admin? %>
  <div class="container space">
    <%= link_to 'Add New Product', new_product_path, class:"btn btn-default btn-lg" %>
  </div>
<% end %>


<div class="container space">
  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>

  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>


