<div class="container space">
	<p id="notice"><%= notice %></p>

	<div class="row">
		<div class="col-xs-6">
			<%= image_tag(@product.image_url, class: "img-responsive") %>
		</div>

		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
					<h1><%= @product.name %></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="rated" data-score="<%= @product.average_rating %>"></div>
				</div>
			</div>
			<div class="row space">
				<div class="col-xs-12">
					<p class="lead"><%= @product.description %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4 ><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <%= @product.price %></h4>
				</div>
			</div>

			

			<div class="row space">
				<div class="col-xs-12">
					<%= render 'new_comment' %>
				</div>
			</div>
		</div>
	</div>

	<div class="row space">
		<div class="col-xs-12">
			<h3>Customer Reviews</h3>
		</div>
	</div>

	<%= render 'comments' %>

	<div class="row">
		<div class="col-xs-12">
			<a>Delete</a>
		</div>
	</div>
</div>
<div class="container space">
	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
</div>
